
        body {
            margin: 0;
            padding: 0;
            overflow: hidden;
            display: grid;
            justify-content: center;
            font-family: "NerkoOne", 'Franklin Gothic Medium', 'Arial Narrow';
            background-color: rgb(107, 104, 104);
            color: #fff;
            font-size: 20px;
            display: grid;
            font-style: italic;
        }

        canvas {
            background-color: #1B1B1B;
            border: 3px solid #c9cbcb;
            margin-top: 10px;
            margin-left: auto;
            margin-right: auto;
        }

        #title {
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 100px;
        }

        #score-title {
            text-align: center;
            display: inline;
        }

        #high-score-title {
            display: inline;
        }

        #starting {
            height: 50vh;
            width: 50vw;
            background-color: #c9cbcb;
            position: absolute;
            display: flex;
            flex-direction: column;
            margin-left: calc(100vw/2 - 50vw/2);
            margin-top: calc(60vh/2);
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            color: #1B1B1B;
        }
        #game-over-box{
        visibility: hidden;
        height: 300px;
        width: 550px;
        position: absolute;
        background-color: #c9cbcb;
        color: #000;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        transform: translateY(-200px);
        transition: .5s;
        margin-left: 400px;
        }
        #restart-msg{
        }
        #restart-btn{
            height: 40px;
            width: 90px;
            border-radius: 5px;
            border: none;
            color: #fff;
            font-family: "nerkoOne";
            font-size: 30px;
            background-color: darkred;
        }
        #status{
            display: flex;
            gap: 1em;
        }
        .lifes{
            height: 1.5em;
            width: 1.5em;
            border-radius: 50%;
            background-color: white;
            border: 2px solid #c9cbcb;
        }